/*css*/
@import "../css/grid.css";
@import "../css/superfish.css";
@import "../css/touchTouch.css";
@import "../css/form.css";
@import "../css/camera.css";
@import "../css/animation.css";

@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

input::-ms-clear {
   display: none;
}

html, body { }

a[href^="tel:"] {
	color: inherit;
	text-decoration:none;
}
* {
	-webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.fleft {float:left;}
.fright {float:right;}
.clear {clear:both; width:100%; font-size:0; line-height:0;}
.wrapper, .wrapper-extra, .extra-wrap{
	position: relative;
	overflow:hidden;
	width: 100%; 
}
.wrap {
	position: relative;
	text-align: center;
}
.wrapper-after:after{
	display:block;
	visibility:hidden;
	clear:both;
	height:0;
	content:".";
}
.dis-block{display: block;}
.dis-inblock{display: inline-block;}

.txt_left{text-align: left;}
.txt_right{text-align: right;}
.txt_cntr{text-align: center;}
.txt_ital{font-style: italic;}
.txt_line_through{text-decoration: line-through;}

.lh21{line-height: 21px;}
.lh23{line-height: 23px;}


.marg-left-0{margin-left:0 !important;}	
.marg-right-0{margin-right:0 !important;}
.marg-left-right-0{ margin-right:0 !important;margin-left:0 !important;}
.last-mbot{margin-bottom:0 !important;}	
.last-pbot{padding-bottom: 0 !important;}
.last-mpbot{margin-bottom:0 !important;padding-bottom:0 !important;}

.marRight1{margin-right: 33px;}
.marRight2{margin-right: 55px;}

.padTop1{padding-top: 20px;}

.padBot1{padding-bottom: 60px;}
.padBot2{padding-bottom: 41px;}

.mar1{margin: -1px 10px 0; display: inline-block !important; color: #808080 !important;}
.mar2{margin: 0 10px;}

.marTop0{margin-top: 0px;}
.marTop1{margin-top: 106px;}
.marTop2{margin-top: 22px;}
.marTop3{margin-top: 19px;}
.marTop4{margin-top: 36px;margin-bottom: -13px;}
.marTop5{margin-top: 5px;}
.marTop6{margin-top: 29px;}
.marTop7{margin-top: 57px;}
.marTop8{margin-top: 10px;line-height: 21px;}
.marTop9{margin-top: 33px;}
.marTop10{margin-top: 30px;}
.marTop11{margin-top: 55px;}


.marBot1{margin-bottom: -8px;}


.quote_1{
	text-align: center;
	max-width: 660px;
	display: inline-block;
	margin-top: 34px;
}
.hline2{
	margin-bottom: 0px;
	padding-bottom: 28px;
	border-bottom: 1px solid #f5f5f5;
	margin-top: 35px;
}
#page4 p{margin-bottom: 9px;}

.box, .box2, .box3{overflow: hidden;}
.bold{font-weight: bold;}
.fw400{font-weight: 400;}
.fw600{font-weight: 600;}


.color1{color: #f15f43;}
.color2{color: #48474d;}



/* Global properties ======================================================== */
html, body { margin:0; padding:0; height:100%;}

body {
	min-width:300px;
	background: #5d6166;
	color:#bab9b9;
	font:14px/24px Arial, Helvetica, sans-serif ;
}
.fs_14{font-size: 14px;}
#back-top {
  position: fixed;
  bottom: 40px;
  left: 51%;
  z-index: 1000;
  display: none;
  margin-left: 620px;
  width: 73px;
  height: 73px;
  background: url(../images/up-arrow.png) 50% 50% no-repeat #eee;
  color: #c5c5c5;
  text-align: center;
  cursor: pointer;

}
#back-top i{line-height: 73px; font-size: 22px; display: none}
#back-top:hover {
	color: #3498db;
  background: url(../images/up-arrow.png) 50% 50% no-repeat #f15f43;
}
.main{
	padding:0 0 0 0;
	width:100%;
	height: auto; 
	 background: #fff; 
}
.div-content{
	margin:0 auto;
	padding-top: 0px;
	padding-bottom: 77px;
	padding-bottom: 115px;
	width:100%;
	overflow: hidden;
}
.div-content.content_page{padding-bottom: 112px;}
.txt_col1{
	position: relative;
	display: inline-block;
	width: 64px;
}
/***********************************************************************/
/*===============================>H-logo-properties=========================*/
h1{
	position: relative;
	display: inline-block;
	margin:0;
}
h1 img{max-width: inherit;}


h2 {
	font:300 40px/40px 'Open Sans', Arial, sans-serif;
	color:#f15f43; 
	margin-top: 118px;
	text-transform: uppercase;
}
h2.v2{margin-top: 37px;}
h2.v3{margin-top: 94px;}
h2.v4{margin-top: 55px;}
h3 {
	font:300 20px/20px 'Open Sans', Arial, sans-serif;
	color:#5d6166;
	margin-top: 10px;
	text-transform: uppercase;
}
h3.v2{margin-top: 31px;margin-bottom: -12px; font-weight: 400;}
h3.v4{margin-top: 0px; font:300 28px/28px 'Open Sans', Arial, sans-serif;}
.priv_page h3{margin-top: 38px;margin-bottom: -5px; line-height: 25px;}

h4 {
	font:300 20px/25px 'Open Sans', Arial, sans-serif;
	color:#363f45;
	margin-top: 39px;
	text-transform: uppercase;
}


#search-results h4{color: #000; padding-bottom: 12px;}
span.search{color: #f85353 !important;}
#search-results h4 a:hover{color: #f85353;}
h5{ 
	margin-top: 10px;
	margin-bottom: 0;
	color:#333333;
	text-transform: uppercase;
	font:14px/22px 'Open Sans', Arial, sans-serif;
}

.num1{
	font:300 35px/52px 'Open Sans', Arial, sans-serif;
	color:#fff; 
	margin-top: 21px;
	text-transform: uppercase;
	float: left;
	margin-right: 28px;
	background: #f85353;
	border-radius: 500px;
	width: 52px;
	height: 52px;
	text-align: center;
}

.num2{
	font: 300 50px/75px 'Open Sans', Arial, sans-serif;
	color:#fff; 
	margin-top: 31px;
	text-transform: uppercase;
	width: 81px;
	height: 81px;
	background: #3e454c;
	margin-top: 36px;
	border-radius: 500px;
	text-align: center;
}


.txt1 {
	font:300 60px/60px 'Open Sans', Arial, sans-serif;
	color:#f15f43;
	margin-top: 15px;
	text-transform: uppercase;
	float: right;
	margin-right: -38px;
}
.txt2 {
	font:300 24px/30px 'Open Sans', Arial, sans-serif;
	color:#9fa9a9;
	margin-top: 16px;
	text-transform: uppercase;
	margin-left: 28px;
	margin-right: 35px;
}
.txt3 {
	font:16px/20px 'Open Sans', Arial, sans-serif;
	color:#48474d;
	margin-top: 21px;
	text-transform: uppercase;
}
.txt4 {
	font:14px/20px 'Open Sans', Arial, sans-serif;
	color:#5d6166;
	margin-top: 2px;
	text-transform: uppercase;
	margin-bottom: -9px;
}

.client_txt {
	font: 600 20px/22px 'Open Sans', Arial, sans-serif;
	color:#2a2a2a;
	margin-top: 13px;
	text-transform: uppercase;
	padding-left: 28px;
	background: url(../images/sign1.png) 0 0px no-repeat;
}

.year_section{
	font:15px/20px 'Open Sans', Arial, sans-serif;
	color:#ffd64f; 
	margin-top: 19px;
	float: left;
	width: 54px;
}



.white_bg{
	position: relative;
	margin-top: 40px;
	margin-bottom: 1px;
	padding: 29px 0 13px;
	width: 100%;
	border: none;
	background: #fff;
}


.comment_link{
	margin-top: 31px;
	margin-right: 31px;
}


p{margin-top: 22px;}
img{ margin-bottom: 0px;max-width:100%; height:auto;}

.img1{margin-top: 101px;}
.img2{
	float: left;
	margin-right: 30px;
	margin-top: 124px;
}
.img3{
	float: left;
	margin-right: 30px;
	margin-top: 5px;
}

a { 
	text-decoration:none; 
	cursor:pointer;
	color: inherit;
}

a.link1{}
a.link1:hover{color: #fff;}

a.link2{margin-right: 26px;}
a.link2:hover{color: #f15f43;}

a.link3{color: #f15f43;}
a.link3:hover{color: #000;}

a.link4{color: #f15f43; text-decoration: underline;}
a.link4:hover{color: #000; text-decoration: underline;}


.comment_txt{margin-top: 4px;margin-bottom: -20PX;}
.comment_txt i{
	color: #bbbaba;
	font-size: 15px;
	margin-top: 5px;
	margin-right: 5px;
}


a:hover{
	color: #f15f43;
	text-decoration:none;
}
a{
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}

.date_txt{text-transform: uppercase; font-size: 12px; color: #6f6f6f;}

.comment_icon2{
	position: relative;
	display: inline-block;
	margin: -17px -2px 0 19px;
	width: 63px;
	height: 55px;
	background: url(../images/comment_icon_big.png) 0 0 no-repeat;
}
.section_year{
	float: left;
	width: 40px;
	color: #6f6f6f;
}


.num_section{
	position: relative;
	margin-top: 45px;
	width: 70px;
	height: 70px;
	font:30px/70px 'Open Sans', Arial, sans-serif;
	color:#fff; 
	float: left;
	background: #8dbf41;
	text-align: center;
	margin-right: 30px;
}
.num_section i{font: normal normal 30px/70px 'FontAwesome';}


.date_section{
	position: relative;
	width: 70px;
	height: 70px;
	/*height: 126px;*/
	background-color: #8dbf41;
	float: left;
	margin-right: 31px;
	text-align: center;
	margin-top: 32px;
	color: #fff;
	text-transform: uppercase;
}
.day{font:300 60px/60px 'Open Sans', Arial, sans-serif; margin-top: 33px; display: block;color: #f15f43; text-align: center;margin-left: 3px;}
.month{font:300 25px/25px 'Open Sans', Arial, sans-serif; margin-top: 10px; text-align: center; color: #5d6166; display: block;margin-left: 6px;}




/************Header************/
header{
	position: relative;
	z-index: 9;
	text-align: center;
	border-top: 7px solid #5d6166;
}
header.content_header{
	border-bottom: 2px solid #aeb0b2;
}

.bot_line{
	display: inline-block;
	margin-top: 2px;	
	margin-bottom: 42px;
	width: 100%;
	height: 1px;
	background: #f2f2f2;	
}
	
/************Content***********/



blockquote{
	margin-top: 0px;
	position: relative;
}
blockquote p{max-width: 810px;margin-left: 80px;}
blockquote:before, blockquote:after{
	position: absolute;
	display: inline-block;
	content: '';
	width: 18px;
	height: 15px;
	left: 43px;
	top: -1px;
	background: url(../images/quote_sign.png) 0 3px no-repeat;
}
blockquote:after{
	left: auto;
	right: 47px;
}

.img_txt_holder{
	width: 100%;
	background: #24292c;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 28px 10px 29px 33px;
}
.img_txt_holder p{margin-top: 0;}


.box-1{
	background: #f7f8f8;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 126px;
}
.banner1{
	background: #fff;
	padding: 57px 0 82px;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
}

.img_box{
	background: #fff;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 13px 13px 8px;
	margin-top: 47px;
	line-height: 21px;
}


/* ============================= lists ====================== */
.listWithMarker {
  margin: 0;
  margin-top: 34px;
}
.listWithMarker li {
  display: block;
  padding-left: 32px;
  background: url(../images/list_marker.png) 0px 5px no-repeat;
  margin-bottom: 0;
  padding-bottom: 11px;
}
.listWithMarker li a {
  color: #5d6166;
  text-decoration: none;
  font: 300 15px/20px "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.listWithMarker li a:hover, .listWithMarker li.current a, .listWithMarker.footer_list li a:hover{
  color: #f15f43;
}

.listWithMarker.footer_list li a {color: #abb3bc;}



.listWithMarker2 {
  margin: 0;
  margin-top: 34px;
}
.listWithMarker2 li {
  display: block;
  padding-left: 59px;
  background: url(../images/list_marker.png) 28px 17px no-repeat #f8f7f7;
  margin-bottom: 2px;
  border-radius: 5px;
  padding-top: 13px;
  padding-bottom: 7px;
}
.listWithMarker2 li a {
  color: #5d6166;
  text-decoration: none;
  font: 300 15px/20px "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
}
.listWithMarker2 li a:hover, .listWithMarker2 li.current a{
  color: #f15f43;
}


/* ============================= end lists ====================== */
.comments_btn{
	padding-left: 19px;
	background: url(../images/comment_icon.png) 0 2px no-repeat;
	color: #6b6b6b;
}

#search2{margin-top: 33px;padding-bottom: 34px;}
#search2 input{
	width: 100%;
	float: left;
	color: #898989;
	font:300 14px/20px "Open Sans", Arial, Helvetica, sans-serif;
	height: 32px;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	box-sizing: border-box;
	padding: 5px 5px 5px 14px;

	box-shadow: none;
	-webkit-appearance: none;
	resize: none;

	outline: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #d9d9d9;
	overflow: hidden;
}



.more_btn{
	display: inline-block;
	margin-top: 26px;
	padding: 15px 19px;
	background: #f15f43;
	color: #fff;
	text-decoration:none; 
	font: 600 15px/20px "Open Sans", Arial, sans-serif;
	text-transform: uppercase;
}
.more_btn:hover{
	background: #000;
	color: #f15f43;
}
.more_btn.v2{padding: 7px 34px;margin-top: 23px;}



figure{display: block; margin-top: 7px;margin-bottom: 27px;}
figure.img_inner {
	display: block;
	overflow: hidden;
	height: auto;
	line-height: 0;
	margin: 0;
	margin-right: 0;
	margin-top: 35px;
}
figure iframe {
	width: 100%;
	height: 346px;
}
address{
	display: block;
	margin-top: 23px;
	font-style: normal;
	margin-bottom: 0;
}
address dl dt{
	display: inline-block;
	margin-bottom: 16px;
	color: #363f45;
	font: 300 20px/25px 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
}
address dd span{
	position: relative;
	display: inline-block;
	width: 76px;
}



/*********************************start magnifier2*************************************/
.magnifier2 {
    position:relative;
    /* display:block; */
    display: inline-block;
}
.magnifier2 img{
}
.zoom{
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-sizing: border-box; /* Safari */
	-moz-box-sizing: border-box; /*Firefox 1-3*/

  	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: url(../images/magnifier2.png) 50% 50% no-repeat;
	-webkit-transition: all 0.6s ease;
  	-moz-transition: all 0.6s ease;
  	-o-transition: all 0.6s ease;
  	transition: all 0.6s ease;
}
a.magnifier2:hover .zoom{
	opacity: 1;
}
a.magnifier2 .zoom{
	opacity: 0;
}
/*********************************end magnifier2*************************************/
/************Footer************/
footer{ 
	display: block; 
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 0px;
	color: #fff;
}
.footer_priv{
	padding: 34px 0 30px;
}

p.txt_priv{
	color:#abb3bc;
	font:300 15px/18px "Open Sans", Arial, sans-serif;
	margin-top: 35px;
	float: left;
}
.txt_priv .fw600{text-transform: uppercase;}


/*----------- start social icons ----------------*/

.soc_icons {
  position: relative;
  display: block;
  margin-top: 18px;
  white-space: nowrap;
  text-align: left;
  margin-left: 0px;
  float: left;
}
.soc_icons > li {
  position: relative;
  display: inline-block;
  margin-right: 3px;
}
.soc_icons > li > a {
  position: relative;
  color: #fff;
  line-height: 1em;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
	width: 36px;
	height: 36px;
	display: inline-block;
	background: #4e5155;
	text-align: center;
  font: normal normal 19px/36px 'FontAwesome';
	border-radius: 500px;
}
.soc_icons i{font: normal normal 19px/36px 'FontAwesome';}
.soc_icons > li > a:hover {
  color: #fff;
  text-decoration: none;
  background: #f15f43;
}
h4 i{font: normal normal 30px/36px 'FontAwesome'; color: #8dbf41; margin-right: 20px;}

i.icon1{font: normal normal 120px/120px 'FontAwesome'; color: #d3d2d2; margin-top: 36px; width: 100%; display: block;}



/*----------- end social icons ----------------*/



.indent1{margin-top: 55px;}




.priv_section1{float: left;}
.priv_section2{float: right;}

/*----------------------- start isotop ----------------------*/
.splitter {
  margin-top: 20px;
  margin-left: 30px;
  position: relative;
  z-index: 100;
}
.splitter li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 26px;
}
.splitter li a {
  display: block;
  font:16px/20px 'Open Sans', Arial, sans-serif;
	color:#48474d;
	margin-top: 0px;
	text-transform: uppercase;
}
.splitter li a:hover, .splitter li a.selected{
  color: #f15f43;
  background: none;
}

.item {
  margin-top: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item .inside {
  margin-left: 30px;
}
.isotope .container {
  margin: 0;
  width: auto;
  margin-top: -11px;
}
/*----------------------- end isotop ----------------------*/



/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 1199px) {
	.div-content{width:100%;}
	address dd span{width: 74px;}

	.caption span.slider_txt1{font:300 50px/50px "Open Sans", Arial, Helvetica, sans-serif;}
	.camera_wrap .camera_pag {bottom: 19px;}




}


@media only screen and (max-width: 979px) {
	.address figure iframe {
		max-width:100%;
		width: 100%;
	}
	
	address dd, footer .grid_3.alpha p{font-size: 12px;	}
	figure iframe {width: 100%;}
	.magnifier2 {width: 100%;}
	.caption span.slider_txt1{font:300 40px/40px "Open Sans", Arial, Helvetica, sans-serif;}

	h2 {font:300 30px/30px 'Open Sans', Arial, sans-serif;}
	.day {font: 300 40px/40px 'Open Sans', Arial, sans-serif;}
	.txt1 {font: 300 40px/40px 'Open Sans', Arial, sans-serif;margin-right: 0;}

	.img3{float: none; margin-bottom: 10px;}

	i.icon1{font: normal normal 50px/50px 'FontAwesome'; }

}


@media only screen and (max-width: 767px) {

	img{width: 100%;}
	img.no_resize{width: auto;}
	.box{overflow: visible;}
	.mobile_txt_cntr{text-align: center;}
	figure.img_inner {margin-bottom: 10px;}

	
	.caption span.slider_txt1{font:300 30px/30px "Open Sans", Arial, Helvetica, sans-serif;}
	.txt1 {margin-left: 35px; float: none;}

	.img2 {margin-top: 44px;margin-bottom: 10px;}
	h2{margin-top: 40px;}
	h2.v3{margin-top: 40px;}
	p.txt_priv {margin-right: 20px;}
	i.icon1{font: normal normal 100px/100px 'FontAwesome'; }

	
	.item .inside {margin-left: 0;}
	.splitter {margin-left: 0;}






}


@media only screen and (max-width: 479px) {
	.caption_bg{display: none;}
	.marTop1{margin-top: 40px;}
	

	/*h1 img{width: 100%;}*/

}
@media only screen and (max-width: 320px) {


}